@model CourseWork.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Результаты по тегам " + "\"" + @Model.Query + "\"";
    Layout = "_MainLayout";
}

<h5 class="text-center">Результаты поиска по запросу "@Model.Query"</h5>
<hr/>
<div>
    @if (Model.Recipes.Any())
    {
        @foreach (var recipe in Model.Recipes)
        {
            <div class="row">
                <div class="col text-right">
                    <p><b><i>Название рецепта:</i></b></p>
                </div>
                <div class="col">
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">@recipe.Title</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <p><b><i>Теги:</i></b></p>
                </div>
                <div class="col">
                    <p>@recipe.Tags</p>
                </div>
            </div>
            <hr/>
        }
    }
    else
    {
        <p class="text-center"><i>Ничего не найдено</i></p>
    }
</div>